@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Oregano&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #adf0ff;
  --red: #fddae1;
}
