.comments-container {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border: 1px solid black;
  /*   border-radius: 0.5rem; */
  margin: 0.5rem;
}

.all-comments-container {
  margin: 0.3rem;
  padding: 0.5rem;
  width: auto;
  height: 5rem;
  overflow: scroll;
  border: 1px solid black;
}

.ul-comments {
  padding: 0.5rem 0rem;
}

.comment-form-container-hidden {
  visibility: hidden;
}
