main.create-entrie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

main.create-entrie > form > h2,
main.create-entrie > form > p {
  margin-bottom: 1rem;
}

main.create-entrie > form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

main.create-entrie > form > textarea {
  width: 600px;
  height: 100px;
  margin-bottom: 1rem;
  padding: 0.6rem;
}

main.create-entrie > form > input {
  margin-bottom: 1rem;
}

main.create-entrie > form > button {
  width: 80px;
  border: 1px solid gray;
  align-self: center;
  padding: 0.5rem 0;
  font-weight: bold;
  background-color: white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
