/* Creamos diversos estilos para importarlos en donde corresponda */
/* Lo hacemos mediante modulo para que estos nombres de clases no choquen con otros nombres de clases similares de otros css*/
.container1 {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}

.container2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0.5rem;
}

.slide {
  max-width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}
