li.entrie {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.374);
}

li.entrie:not(:first-child) {
  margin: 1rem 0;
}

li.entrie > header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, var(--blue), var(--red));
}

li.entrie > div {
  display: flex;
  flex-direction: column;
}

li.entrie > div > p {
  padding: 0.5rem;
}
li.entrie > div > ul > li {
  list-style: none;
}

li.entrie > div > ul > li > img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  padding: 0.5rem;
}

li.entrie > footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, var(--blue), var(--red));
}

li.entrie > footer > div {
  display: flex;
  align-items: center;
}

li.entrie > footer > div > div.heart {
  cursor: pointer;
  height: 70px;
  width: 70px;
  background-image: url('/public/heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

li.entrie > footer > div > div.heart:hover {
  background-position: right;
}

li.entrie > footer > div > div.heart.like {
  animation: heart-burst 0.8s steps(28) 1;
  animation-fill-mode: forwards;
}

li.entrie > footer > div > p {
  color: black;
}

li.entrie > footer > button {
  width: 80px;
  margin-right: 1rem;
  border: 1px solid gray;
  align-self: center;
  padding: 0.5rem 0;
  font-weight: bold;
  background-color: white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
