div.app > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, var(--blue), var(--red));
  padding: 1rem;
  color: black;
}

div.app > header > a > img {
  width: 100%;
  height: 50px;
}

nav {
  display: flex;
  gap: 1rem;
}

nav > p {
  align-self: center;
  font-weight: bold;
  font-size: 15px;
  padding-right: 0.5rem;
  font-family: 'Oregano', sans-serif;
  letter-spacing: 0.1rem;
}

nav > div.navlink-container {
  display: flex;
  flex-direction: column;
}

nav > div.navlink-container > div.button {
  padding: 0.7rem 0.4rem 0.4rem 0.4rem;
  width: 100%;
  height: 40px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

nav > div.navlink-container > div.button:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

nav > div.navlink-container > div.button:first-child {
  /* margin-right: 1rem; */
  margin-bottom: 0.5rem;
}

nav > div.navlink-container > div.button a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  /*   padding: 0rem 0.5rem; */
  /*   margin-left: 11px; */
}

nav > div.navlink-container > div.button > p {
  color: black;
  font-size: 12px;
  /*   padding: 0rem 0.5rem; */
}
