main.entrie-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

/**/
main.entrie-search > form {
  display: flex;
  margin-top: 2rem;
}

main.entrie-search > form > input {
  height: 40px;
  width: 250px;
  padding: 0.2rem;
  font-size: 1.3rem;
  border: 1px solid rgb(118, 118, 118);
}

main.entrie-search > form > button {
  height: 40px;
  padding: 0 0.4rem;
  border: 1px solid rgb(118, 118, 118);
  border-left: none;
}
/**/

ul.entrie-list {
  margin-top: 2rem;
  list-style: none;
}
